/*
 * DT overlay file for nodes shared across multiple boards
 * that is *not* shared with the MCUboot build.
 */

#ifdef CONFIG_SOC_NRF52832
&flash0 {
	partitions {
		/* Persistent state the application modifies. */
		app_state_partition: partition@7d000 {
			label = "application-state";
			reg = <0x0007d000 0x2000>;
		};

		/* DTLS credentials etc. */
		credentials_partition: partition@7f000 {
			label = "lwm2m-credentials";
			reg = <0x0007f000 0x1000>;
		};
	};
};
#endif /* CONFIG_SOC_NRF52832 */

#ifdef CONFIG_SOC_NRF52840
&flash0 {
	partitions {
		app_state_partition: partition@7d000 {
			label = "application-state";
			reg = <0x000fd000 0x2000>;
		};

		credentials_partition: partition@7f000 {
			label = "lwm2m-credentials";
			reg = <0x000ff000 0x1000>;
		};
	};
};
#endif /* CONFIG_SOC_NRF52840 */
