# Copyright (c) 2017 Linaro Limited
# Copyright (c) 2018 Foundries.io
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "LWM2M application configuration"

choice
	prompt "FOTA network interface"
	default FOTA_NET_OPENTHREAD if SOC_NRF52840
	default FOTA_NET_BLE6LOWPAN if SOC_NRF52832
	default FOTA_NET_DEFAULT
	help
	  This selection represents an abstract choice for network interface
	  which in turn allows us to set the HW specific configs.

config FOTA_NET_OPENTHREAD
	bool "OpenThread"
	help
	  Connect to host via OpenThread

config FOTA_NET_802154
	bool "IEEE 802.15.4"
	help
	  Connect to host via IEEE 802.15.4

config FOTA_NET_BLE6LOWPAN
	bool "BLE 6LoWPAN"
	help
	  Connect to host via BLE / 6LoWPAN

config FOTA_NET_MODEM
	bool "Modem"
	help
	  Connect to host via modem

config FOTA_NET_DEFAULT
	bool "Other"
	help
	  Connect to host via HW default method (ethernet, etc)

endchoice

config FOTA_DEVICE
	bool "Enable FOTA device settings"
	default y
	select FOTA_DEVICE_SOC_SERIES_KINETIS_K6X if SOC_SERIES_KINETIS_K6X
	select FOTA_DEVICE_SOC_SERIES_NRF52X if SOC_SERIES_NRF52X
	select NET_IPV6 if FOTA_NET_OPENTHREAD || FOTA_NET_BLE6LOWPAN || FOTA_NET_802154
	select NET_CONFIG_NEED_IPV6 if FOTA_NET_OPENTHREAD || FOTA_NET_BLE6LOWPAN || FOTA_NET_802154
	select NET_IPV4 if FOTA_NET_MODEM
	select NET_CONFIG_NEED_IPV4 if FOTA_NET_MODEM
	help
	  Main config to enable device specific settings

config FOTA_ENDPOINT_PREFIX
	string "LwM2M endpoint will start with this string"
	default "zmp"
	help
	  LwM2M endpoint names follow this format "<prefix>:sn:<serial #>".
	  This setting allows you to set the "zmp" portion to a custom value.

config FOTA_DEVICE_SOC_SERIES_KINETIS_K6X
	bool "Kinetis K6x FOTA settings"
	select NET_SHELL
	select NET_IPV4
	select NET_UDP
	select NET_CONFIG_NEED_IPV4
	select NET_DHCPV4 if !FOTA_NET_MODEM
	default n

if FOTA_DEVICE_SOC_SERIES_KINETIS_K6X

# IPv6 is enabled by default in Zephyr's Kconfig when networking is selected.
config NET_IPV6
	default n
config NET_CONFIG_NEED_IPV6
	default n

endif # FOTA_DEVICE_SOC_SERIES_KINETIS_K6X

config FOTA_DEVICE_SOC_SERIES_NRF52X
	bool "Nordic Semiconductor nRF52 FOTA settings"
	select SENSOR
	select TEMP_NRF5
	select ENTROPY_NRF5_RNG
	select NET_SHELL if SOC_NRF52840
	default n

config FOTA_LED_GPIO_INVERTED
	bool "Set this if your hardware has an inverted LED GPIO"
	default y if SOC_NRF52840
	help
	  This setting is used to invert the GPIO pin settings when toggling
	  the "Light Control" LED.

config FOTA_ERASE_PROGRESSIVELY
	bool "Erase flash progressively when updating/receiving new firmware"
	default y if SOC_NRF52840
	help
	 If enabled, flash is erased as necessary when receiving and marking
         new firmware as ok, instead of erasing the whole image slot at once.
         This is necessary on some hardware that has long erase times, to
         prevent long wait times at various stages where large erases are
         performed.

if FOTA_DEVICE_SOC_SERIES_NRF52X

config TEMP_NRF5_NAME
	default "fota-temp"

endif # FOTA_DEVICE_SOC_SERIES_NRF52X

# OpenThread settings
if FOTA_NET_OPENTHREAD
rsource "network_defaults/Kconfig.defaults.ot"
endif # FOTA_NET_OPENTHREAD

# IEEE 802.15.4 Settings
if FOTA_NET_802154
rsource "network_defaults/Kconfig.defaults.ieee802154"
endif # FOTA_NET_802154

# BLE / 6LoWPAN settings
if FOTA_NET_BLE6LOWPAN
rsource "network_defaults/Kconfig.defaults.ble6lowpan"
endif # FOTA_NET_BLE6LOWPAN

# Modem Settings
if FOTA_NET_MODEM
rsource "network_defaults/Kconfig.defaults.modem"
endif # FOTA_NET_MODEM

# General defaults

config NET_RX_STACK_SIZE
	default 5120 if FOTA_NET_OPENTHREAD
	default 2048

config DNS_SERVER1
	default "8.8.8.8" if FOTA_NET_MODEM || FOTA_NET_DEFAULT

module = FOTA
module-dep = LOG
module-str = Log level for FOTA application
source "subsys/logging/Kconfig.template.log_config"

# Leave this at the bottom: we need to override Zephyr's default settings
# with some of the values above.
source "$ZEPHYR_BASE/Kconfig.zephyr"
