# Copyright (c) 2017 Linaro Limited
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "LWM2M application configuration"

config ZEPHYR_BASE
	string
	option env="ZEPHYR_BASE"

source "$ZEPHYR_BASE/Kconfig.zephyr"

config FOTA_DEVICE
	bool "Enable FOTA device settings"
	default y
	select FOTA_DEVICE_SOC_SERIES_KINETIS_K6X if SOC_SERIES_KINETIS_K6X
	select FOTA_DEVICE_SOC_SERIES_NRF52X if SOC_SERIES_NRF52X
	help
	  Main config to enable device specific settings

config FOTA_DEVICE_SOC_SERIES_KINETIS_K6X
	bool "Kinetis K6x FOTA settings"
	select NET_L2_ETHERNET
	select NET_SHELL
	select NET_IPV4
	select NET_APP_NEED_IPV4
	default n

config FOTA_DEVICE_SOC_SERIES_NRF52X
	bool "Nordic Semiconductor nRF52 FOTA settings"
	select NET_L2_BT
	select NET_IPV6
	select NET_APP_NEED_IPV6
	select SENSOR
	select TEMP_NRF5
	default n

config FOTA_LED_GPIO_INVERTED
	bool "Set this if your hardware has an inverted LED GPIO"
	default n
	help
	  This setting is used to invert the GPIO pin settings when toggling
	  the "Light Control" LED.

if FOTA_DEVICE_SOC_SERIES_NRF52X

config TEMP_NRF5_NAME
	default "fota-temp"

endif # FOTA_DEVICE_SOC_SERIES_NRF52X

config SYS_LOG_FOTA_LEVEL
	int "FOTA log level"
	depends on SYS_LOG && FOTA_DEVICE
	default 0
	range 0 4
	help
	  Set the log level for the FOTA library.

	  The available levels are:

	  - 0 OFF: do not write
	  - 1 ERROR: only write SYS_LOG_ERR
	  - 2 WARNING: write SYS_LOG_WRN in addition to previous level
	  - 3 INFO: write SYS_LOG_INF in addition to previous levels
	  - 4 DEBUG: write SYS_LOG_DBG in addition to previous levels
