&flash0 {
	partitions {
		/*
		 * For most devices we have a storage partition defined,
		 * and here we are shrinking it slightly to make room for
		 * 1 additional partition.  In the case of Nitrogen there
		 * is no storage partition defined.
		 */
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007a000 0x00005000>;
		};

		/* DTLS credentials etc. */
		credentials_partition: partition@7f000 {
			label = "lwm2m-credentials";
			reg = <0x0007f000 0x1000>;
		};
	};
};
