&flash0 {
	partitions {
		app_state_partition: partition@10000 {
			label = "application-state";
			reg = <0x00010000 0x0000f000>;
		};

		credentials_partition: partition@1f000 {
			label = "lwm2m-credentials";
			reg = <0x0001f000 0x00001000>;
		};
	};
};

&i2c0 {
	fxos8700@1d {
		label = "fota-temp";
	};
};

&uart2 {
	status = "ok";
	current-speed = <115200>;

	wncm14a2a {
		compatible = "wnc,m14a2a";
		label = "wncm14a2a";
		mdm-boot-mode-sel-gpios = <&gpioc 17 0>;
		mdm-power-gpios = <&gpiob 9 0>;
		mdm-keep-awake-gpios = <&gpioc 2 0>;
		mdm-reset-gpios = <&gpioc 12 0>;
		mdm-shld-trans-ena-gpios = <&gpioc 4 0>;
		mdm-send-ok-gpios = <&gpiod 0 0>;
		status = "ok";
	};
};
